@model Antrian.Models.BidangPelayanan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BidangPelayanan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaBidangPelayanan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaBidangPelayanan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BidangId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
