@model IEnumerable<Antrian.Models.BidangPelayanan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaBidangPelayanan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loket)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaBidangPelayanan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loket)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidangId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BidangId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BidangId })
        </td>
    </tr>
}

</table>
